[submodule "lib/github-browse-file"]
	path = lib/github-browse-file
	url = https://github.com/waymondo/github-browse-file
[submodule "lib/powerline"]
	path = lib/powerline
	url = https://github.com/unic0rn/powerline.git
[submodule "lib/dash-at-point"]
	path = lib/dash-at-point
	url = https://github.com/waymondo/dash-at-point
