*.DS_Store
*.elc
*.org
#*
eshell
places
history
*-history
recentf
saveplace
bookmarks
var
*.smex-items
/.cask
/savehist
/completions
/projectile-bookmarks.eld
/projectile.cache
/lisp/
/elpa/
/.emacs.desktop
/url/
/async-bytecomp.log
