[submodule "lib/dash-at-point"]
	path = lib/dash-at-point
	url = https://github.com/waymondo/dash-at-point
[submodule "lib/powerline"]
	path = lib/powerline
	url = https://github.com/waymondo/powerline.git
[submodule "lib/crux"]
	path = lib/crux
	url = https://github.com/waymondo/crux
