*.DS_Store
*.elc
*.org
#*
eshell
places
history
*-history
recentf
saveplace
bookmarks
autobookmarks
var
*.smex-items
/savehist
/completions
/projectile-bookmarks.eld
/projectile.cache
/lisp/
/elpa/
/.emacs.desktop
/url/
/async-bytecomp.log
flycheck_*.el
/.last-package-update-day
/emms
custom.el
/abbrev_defs
/games/
